body
{

}
h2
{
	text-align: center;
	font font-family: arial;
}
p
{
	text-align: justify-all;
	color: white;
	font-size: 2em;
	font-weight: bold;
	width: 50%;
	margin-left: 30%;
}

.butt button
{
	margin-left: 45%;
	background-color: transparent;
	color: white;
	padding: 5px 10px;
	margin-top: 5%;
	word-spacing: 1em;
	font-size: 3em;
	margin-bottom: 5%;
}