body
{
    background-color: pink !important;
}
.nav
{
    
}
.nav a
{
padding: 50px !important;
}

@media screen and (max-width: 1280px)
{
   .nav a
   {
    display: inline-block;
   }
}

/*debut pour competence*/
.compet 
{
    font-size: 20pt;
    height: 10cm;
    color: white;
    margin-bottom: 10%;
    width: 50%;
    margin-left: 20%;
}
.compet span
{
    color:black;
}

.best
{
    margin-top: 2%;
    margin-left: 20%;
}
.best h2
{
    margin-left: 5%;
}
.best h3
{
    margin-left: 15%;
}
.best h4
{
    margin-left: 20%;
}
/*fin pour competence*/




debut footer*/
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background-color: pink  !important;
    margin-bottom: 0%;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
    color: black;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*fin du footer*/

/*mes mises en formes*/

/*debut de contact*/


/*fin de contact*/

/*MENU*/
@media screen and (max-width: 1280px)
{
   .text
   {
    font-size: 5pt;
    background-color: red;
   }
}

.text
{
    color: transparent;
    font-size: 70pt;
    margin-top: 5%;
    margin-left: 10%;

    background: repeating-linear-gradient(
    40deg,
    #56925F,
    #56925F 20px,
     #fff 30px,
    #fff 100px
        ); 
  background-clip: text;
  -webkit-background-clip:text;
  animation: xmas 50s linear 0s infinite;
  }
  /*partie dynamique*/
@keyframes xmas{
    from {
         background-position: 0;
        }
        to{
            background-position: 10000px;
            /*temps de deroulement
             l'arrier plan*/
        }

}

#lien a
{
display: inline;
text-transform: uppercase !important;
color: white !important;   
font-size: 15pt; 

}
#lien button:hover
{
    color: white;
    text-decoration: none;
    background-color: black !important;
    opacity: 0.5;
    padding: 05px 10px;
    border-radius:20px 20px;
    transition-duration: 5s;
}
#lien button
{
background-color: transparent !important;
border-radius:20px 20px;
margin-left: 10%;
margin-bottom: 3%;
padding: 05px 10px;
}
/*FIN DU MENU*/


/*mise en forme loader*/
.loader
{
  /*position: relative;*/
  margin-left: 45%;
  margin-top: 7%;
  margin-bottom: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, 
                              #ffeb3b,
                               #ff00e0);
  animation: animate 0.5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.loader span
{
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background: linear-gradient(#14ffe9, 
                              #ffeb3b,
                               #ff00e0);
  
}
.loader span:nth-child(1)
{
  filter: blur(5px);
}
.loader span:nth-child(2)
{
  filter: blur(10px);
}
.loader span:nth-child(3)
{
  filter: blur(25px);
}
.loader span:nth-child(4)
{
  filter: blur(50px);
}
.loader:after
{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}
.main h2
{
    margin-left: 35%;
}
.main h1
{
    margin-left: 5%;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px;
}
/*fin du mise en forme*/
